[Unit]
Description=Track new Docker bridges and WAN/VPN link changes
After=r2s-network.service
Requires=r2s-network.service

[Service]
ExecStart=/usr/lib/r2s/watch-links
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
